body {
	font: 15px Arial, Helvetica, sans-serif;
}

header {
	background-color: #424242;
	color: #fff;
	min-height: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.topo {
  min-width: 1600px;
  position: fixed;
}

h2 {
  font-weight: bold;
  padding-bottom: 15px;
}

header ul {
	padding-right: 100px;
	padding-top: 10px;
}

header li {
	list-style: none;
	display: inline;
	padding: 0 15px;
}

header a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

header nav ul li a:hover {
  color: #2ECCFA;
  text-decoration: none;
}

.titulo {
  margin-left: 50px;
	float: left;
	font-size: 30px;
	font-weight: bold;
}

header #nome {
	color: #2ECCFA;
}

header nav {
	float: right;
}

.box {
  min-height:664px;
  background: #000;
  background:url('/img/people.jpg') no-repeat 0 -400px;
  background-position: center; 
  margin-bottom: 30px;
}

#buscar{
  background-color: #E6E6E6;
  border: solid 2px #848484;
  border-radius: 5px;
  width: 500px;
  height: 40px;
  margin: 0 auto;
}
 
#txtBusca{
  float:left;
  background-color: transparent;
  padding-left:15px; 
  font-size:18px;
  border:none;
  height:32px;
  width:191px;
}
 
#btnBusca{
  border:none;
  float:right;
  height:40px;
  width:90px;
  font-weight:bold;
  background: #848484;
}

#buscar img{
  float:left;
}

.img-medicamento {
  padding-bottom: 15px;
}

.img-medicamento img {
  width: 250px;
  height: 250px;
  border: 1px solid #D8D8D8;
}

#solicitar{
  margin-left: 15px;
  margin-right: 5px;
}
