body {
	font: 15px Arial, Helvetica, sans-serif;
}

header {
	background-color: #424242;
	color: #fff;
	min-height: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.topo {
  min-width: 1600px;
  position: fixed;
  z-index: 2;
}

h2 {
  font-weight: bold;
  padding-bottom: 15px;
}

header ul {
	padding-right: 100px;
	padding-top: 10px;
}

header li {
	list-style: none;
	display: inline;
	padding: 0 15px;
}

header a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

header nav ul li a:hover {
  color: #2ECCFA;
  text-decoration: none;
}

.titulo {
  margin-left: 50px;
	float: left;
	font-size: 30px;
	font-weight: bold;
}

header #nome {
	color: #2ECCFA;
}

header nav {
	float: right;
}

.box {
  min-height:664px;
  background: #000;
  background:url('/img/people.jpg') no-repeat 0 -400px;
  background-position: center; 
  margin-bottom: 30px;
}

.img-medicamento {
  padding-bottom: 15px;
}

.img-medicamento img {
  width: 250px;
  height: 250px;
  border: 1px solid #D8D8D8;
}

#solicitar, #confirmar {
  margin-left: 14px;
  margin-right: 5px;
}

input[type="number"], input[type="text"] {
  margin: 5px 0;
}

#divBusca {
  z-index: 1;
}

#cadastrar {
  float: right;
}

.msg {
  text-align: center;
}